$dark: #1d1d1d;
$dark-gray: #555555;
$positive: #616161;
$negative: #ef5350;
$info: #2196f3;
$warning: #ffab00;
$success: #4caf50;

// white
$white: #ffffff;
$white-05: rgba(255, 255, 255, 0.05);
$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$white-30: rgba(255, 255, 255, 0.3);
$white-60: rgba(255, 255, 255, 0.6);

// black
$black-10: rgba(0, 0, 0, 0.1);
$black-12: rgba(0, 0, 0, 0.12);
$black-15: rgba(0, 0, 0, 0.15);
$black-20: rgba(0, 0, 0, 0.2);
$black-25: rgba(0, 0, 0, 0.25);
$black-35: rgba(0, 0, 0, 0.35);
$black-45: rgba(0, 0, 0, 0.45);
$black-54: rgba(0, 0, 0, 0.54);
$black-70: rgba(0, 0, 0, 0.7);

// navy
$navy: #00263e;

// light-blue 
$light-blue-10: rgba(76, 148, 252, 0.1);
$light-blue-10-2: rgba(33, 150, 243, 0.1);
$light-blue-100: rgba(76, 148, 252);

// light-gray
$light-gray-10: rgba(93, 81, 121, 0.1);

// others
$light-turquoise-10: rgba(47, 198, 176, 0.1);
$light-turquoise-100: rgba(47, 198, 176, 1);

$dark-purple: rgba(93, 81, 121);


