.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-1 {
  flex: 1;
}

.no-underline {
  text-decoration: unset !important;
}

// gap
@for $gap from 1 through 30 {
  .gap-#{$gap} {
    gap: #{$gap}px;
  }
}
